<!-- src/app/components/navbar/navbar.component.html -->
<div class="bg-primary p-4 flex justify-between">
  <div class="flex">
    <h3 class="font-bold">Movie App</h3>
    <ul class="flex gap-6 items-center ml-8 bg-black px-4 rounded-full">
      <li>
        <a routerLink="/tvshows"
           class="text-yellow-200 font-medium transition-colors duration-200"
        >
          TV Shows
        </a>
      </li>
      <li>
        <a routerLink="/"
           class="text-yellow-200 font-medium transition-colors duration-200"
        >
          Movies
        </a>
      </li>
    </ul>
  </div>

  <div class="flex gap-4 items-center">
     <app-language-dropdown></app-language-dropdown>

     <span class="font-semibold text-sm">({{ currentLangCode }})</span>
     
     <div class="">
       <img src="/assets/Icons/icon _heart_.svg" class="w-6 h-6" alt="watchlist icon" />
      
    </div>
    <div class="relative">

      <a routerLink="/watchlist" class="font-semibold underline cursor-pointer mr-5">
        Watchlist
      </a>
       @if (tmdbWatchlist.watchlistCount() > 0) {
         <span
         class="absolute -top-2 -right-2 bg-white text-black text-xs px-2 rounded-sm"
         >
         {{ tmdbWatchlist.watchlistCount() }} 
        </span>
      }
    </div>
  </div>
</div>
