<!-- src/app/moviesList/movie-details/movie-details.component.html -->

<app-movie-details-card
  [movie]="movie$()"
  (favoriteToggled)="addToWatchlist($event)"
 ></app-movie-details-card>

<hr class="my-6" />

<div class="p-6">
  <h2 class="text-2xl font-semibold mb-4">Recommended Movies</h2>
  <div class="flex flex-wrap gap-4">
    <app-card
      *ngFor="let rec of recommendations()"
      [movie]="rec"
      (onFavorite)="addToWatchlist(rec.id!)"
      (click)="navigateToMovieDetails(rec.id!)"

    ></app-card>
  </div>
</div>
